@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}

.twitter-logo {
    height: 28px;
    filter: invert(52%) sepia(50%) saturate(2964%) hue-rotate(179deg) brightness(95%) contrast(97%);
    margin-left: 25px;
}

.left-sidebar {
    position: fixed;
    top: 0;
    margin-top: 13px;
}

.navbar-brand:hover {
    background: rgba(29, 161, 242, 0.1);
    border-radius: 50%;
    color: #1da0f2;
    margin-right: 23px;
}

.left-sidebar-menu {
    font-size: 20px;
    cursor: pointer;
    font-weight: 700;
    display: flex;
    color: rgb(15, 20, 25);
    font-family: 'Times New Roman', Times, serif;
}

.left-sidebar-menu-icon {
    align-items: flex-start;
    height: 26px;
    margin-right: 20px;

}

.nav-item {
    padding: 10px;
    margin: 0 2px;
}

/* .nav-item:hover {
    background: rgb(225, 232, 237);
    border-radius: 18px;
    color: rgb(15, 20, 25);
} */

.nav-link {
    text-decoration: none;
    color: rgb(15, 20, 25);
    border-radius: 20px;
}

.nav-link:hover {
    background: rgb(225, 232, 237);
    color: rgb(15, 20, 25);
}

/* --------------------------------MAIN PAGE------ */
.middle-sidebar {
    display: flex;
    justify-content: center;
    margin-right: -550px;
}

.main-page-header {
    font-size: 18px;
    height: 48px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}

.main-page-header-profile-picture {
    border-radius: 50%;
    height: 48px;
}

.main-page-input {
    border: 0 solid black;
}

.main-page-input-box {
    padding-top: 10px;
    border-bottom: 1px solid #e6e6e6;
}

.main-page-tweet-box {
    margin-top: -5px;
    word-wrap: break-word;
    word-break: break-all;
    outline: none;

}

.main-page-tweet-box:focus main-page-tweet-box:hover {
    outline: none !important;
    box-shadow: none;
    border: 0;

}

.main-page-tweet-box {
    height: 130px;
    border: 0;
    margin-top: -10px;
}

::placeholder {
    font-family: 'Open Sans', sans-serif;
    opacity: 1;
    font-size: 18px;
    /* position: absolute;
    margin-top: 10px; */

}

.main-page-input-privacy {
    display: inline-block;
    color: #1da1f2;
    cursor: pointer;

}

.main-page-input-privacy-icon,
main-page-input-privacy-text {
    display: inline;
}

.main-page-input-icons {
    display: flex;
    justify-content: space-between;
    margin-left: -35PX;
}

.main-page-input-icons-ul {
    list-style-type: none;
    margin-left: 5px;
}

.main-page-input-icons li {
    display: inline;
    /* width: 300px; */
    list-style: none;
    color: #1da1f2;
    font-size: 20px;
    margin: 0 2px;
    height: 38px;
    width: 38px;
    cursor: pointer;
}

.main-page-tweet-button {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    background-color: #1da1f2;
    text-align: center;
    cursor: pointer;
    border: none;
    outline: none;
    opacity: 0.5;
}


/* .left-sidebar-menu-icon-active using js {
    filter: invert(52%) sepia(50%) saturate(2964%) hue-rotate(179deg) brightness(95%) contrast(97%);

} */

.tweetbox__input img {
    border-radius: 50%;
    height: 40px;
}

.tweetBox {
    padding-bottom: 10px;
    border-bottom: 8px solid var(--twitter-background);
    padding-right: 10px;
}

.tweetBox form {
    display: flex;
    flex-direction: column;
}

.tweetbox__input {
    display: flex;
    padding: 20px;
}

.tweetbox__input input {
    flex: 1;
    margin-left: 20px;
    font-size: 20px;
    border: none;
    outline: none;
}

.tweetBox__tweetButton {
    border: none;
    color: white;
    font-weight: 900;

    border-radius: 30px;
    width: 80px;
    height: 40px;
    margin-top: 20px;
    margin-left: auto;
}

.tweet {
    display: flex;
    margin-bottom: 2px;
    border-bottom: 1px solid #e6ecf0;
    cursor: pointer;
    padding: 10px 15px;
}

.tweet:hover {
    background-color: #F5F8FA;
}

.tweet-author-image {
    border-radius: 50%;
    height: 48px;
    width: 48px;
    margin-right: 12px;

}

.tweet-header {
    display: flex;
    font-size: 15px;

}

.tweet-author-username {
    font-family: 'Times New Roman', Times, serif;
    color: #14171a;
    font-weight: 700;
    text-decoration: none;
    font-size: 15px;
    margin-right: 3px;
}

.tweet-author-username:hover,
tweet-author-username:active,
tweet-author-username:focus {
    text-decoration: underline;
    color: #14171a;
}

.tweet-author-handle {
    color: rgb(113, 118, 123);
    margin-right: 3px;
}

.tweeted-time {
    margin-left: 3px;
    color: rgb(113, 118, 123);
}

.tweeted-image {
    width: 100%;
    border-radius: 15px;
    margin-top: 10px;
}

.engagement-icons-ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    margin-left: -30px;
    width: 400px;
}

/* -------------------------------------PROFILE PAGE----------------------------------- */
.header__wrapper {
    display: flex;
    justify-content: center;
    margin-left: 650px;
    margin-top: 100px;
}

.about {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.about span {
    margin: 0 10px;
    padding: 0 10px;
}


/* .header_headerimg {
    width: 100%;
    background: url("http: //placeimg.com/640/480/nature") no-repeat 50% 20% / contain;
    min-height: calc(100px + 15vw);
} */

.header__wrapper .cols__container .content__col {
    padding: 25px 20px;
    text-align: center;
    /* max-width: 350px; */
    position: relative;
    margin: 0 auto;
}

.header__wrapper .cols__container .content__col .img__container {
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translatex(-50%);
}

.header__wrapper .cols__container .content__col .img__container img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.18);
}


.header__wrapper .cols__container .content__col h2 {
    margin-top: 60px;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 5px;
}

.header__wrapper .cols__container .content__col .about {
    justify-content: space-between;
    position: relative;
    margin: 35px 0;
}

.header__wrapper .cols__container .content__col .about li {
    display: flex;
    flex-direction: column;
    color: #818181;
    font-size: 0.9rem;
}

.header__wrapper .cols__container .content__col .about li span {
    color: #1d1d1d;
    font-weight: 600;
}

.header__wrapper .cols__container .content__col .about:after {
    position: absolute;
    content: "";
    bottom: -16px;
    display: block;
    background: #cccccc;
    height: 1px;
    width: 100%;
}